:root {
	--primery-text-color-slate: #434455;
	--primery-white-color: #ffffff;
	--text-color-iris: #4d5ae5;
	--text-color-navyblue: #2e2f42;
	--text-color-cloud: #f4f4fd;
	--text-color-cornflower: #e7e9fc;
}
/* ---------------------------Recomended Zozylia------------------------- */
a {
    text-decoration: none;
    color: inherit;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
button {
    cursor: pointer;
  }
/* ---------------------------/Recomended Zozylia------------------------- */

ul {
	padding-inline-start: 0;
	margin-top: 0;
	margin-bottom: 0;
  }

body {
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.02em;
	background-color: var(--primery-white-color);
	color: var(--primery-text-color-slate);
}
/* Заголовки font-weight: 700 */
h1,
h2,
h3 {
	font-weight: 700;
	color: var(--text-color-navyblue);
}
/* прибирання маркерів у списках */
ul {
	list-style: none;
}
/* прибирання підкреслення */
a {
	text-decoration: none;
}
.container {
	width: 1152px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;
}
/* header */
.header-nav {
	display: flex;
	align-items: center;
}

/* logo */
.logo {
	/* margin-right: 77px; */
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	display: flex;
	align-items: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.logo-iris {
	color: var(--text-color-iris);
}
.logo-navyblue {
	color: var(--text-color-navyblue);
}
/* site-nav */
.site-nav,
.cont-nav {
	display: flex;
	padding-top: 24px;
    padding-bottom: 24px;
	font-size: 16px;
	line-height: 1.5;
}
.site-nav .item + .item,
.cont-nav .item + .item {
    margin-left: 40px;
}

.site-nav {
	margin-left: 77px;
	font-weight: 700;
}
.site-nav .link {
	color: var(--text-color-navyblue);
}
.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--primery-text-color-slate);
}
.site-nav .link.current {
	color: var(--text-color-iris);
}
/* cont-nav */
.cont-nav {
	margin-left: auto;
}
.cont-nav .link {
	color: var(--primery-text-color-slate);
}
.cont-nav .link:hover,
.cont-nav .link:focus {
	color: var(--text-color-iris);
}
/* hero */

.hero {
	padding-top: 192px;
	padding-bottom: 192px;
	text-align: center;
	background-color: var(--text-color-navyblue);
}
.hero-title {
	margin: 0px auto 48px;
	max-width: 492px;
	font-size: 56px;
	line-height: 1.07;
	/* text-align: center; */
	color: var(--primery-white-color);
}
.hero-button {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.19;
	padding: 16px 32px;
	align-items: center;
	letter-spacing: 0.04em;
	color: var(--primery-white-color);
	background-color: var(--text-color-iris);
    border-radius: 4px;
	border: none;
}
.hero-button:hover,
.hero-button:focus {
   background-color: #404BBF;
}

/* section */
/* Приховування заголовка "Секція1" та "Portfolio" */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
section p {
	font-size: 16px;
	line-height: 1.5;
}
.section1 {
	display: flex;
	margin-top: 120px;
	margin-bottom: 120px;
}
.section1 .section1-li + .section1-li {
	margin-left: 24px;
}
.sektion1-div {
	width: 264px;
}
.sect-2-ul,
.sect-3-ul {
	display: flex;
	padding-top: 72px;
	padding-bottom: 120px;
}
.sect-2-ul .section1-li + .section1-li {
	margin-left: 24px;
}
.section3 {
    background-color: var(--text-color-cloud);
}
.sect-3-ul .section-ul + .section-ul {
	margin-left: 24px;
}
.sect-3-div {
}
.sect-3-div h3 {
	padding-top: 32px;
	padding-bottom: 8px;
}
.sect-3-div p {
	padding-bottom: 32px;
	text-align: center;
}
.section-ul {
    background-color: var(--primery-white-color);
}
.section1-title {
	margin-bottom: 8px;
	font-size: 20px;
	line-height: 1.2;
}
.section-title {
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	text-transform: capitalize;
}
.section3-title {
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
}
.section3 h2 {
	padding-top: 120px;
}
img {
	display: flex;
}
/* -------------------Portfolio------------------- */
/* Блок фільтрів */
.header-portf {
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.portfolio-button {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.04em;
	color: var(--text-color-iris);
	background: var(--text-color-cloud);
}
.portfolio-button:hover,
.portfolio-button:focus {
	color: var(--primery-white-color);
	background: var(--text-color-iris);
}
/* Блок портфоліо */
.section4-title {
	font-size: 20px;
	line-height: 1.2;
	color: var(--text-color-navyblue);
}
/* footer */
footer {
	background-color: var(--text-color-navyblue);
}
.logo-cloud {
	color: var(--text-color-cloud);
}
.footer a {
	padding-top: 100px;
	font-size: 18px;
	line-height: 1.1.17;
}
.footer-p {
	padding-top: 16px;
	padding-bottom: 100px;
	width: 264px;
	color: var(--text-color-cornflower);
}
